<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>Copa Ticlet</title>
    <meta charset="UTF-8">
    <meta name="description" content="WebApp para acompanhar a liga Copa Ticket do Cartola FC">
    <meta name="keywords" content="Cartola FC, Ticket, Copa Ticket">
    <meta name="author" content="Paulo Bortolotti">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='content/bootstrap.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='content/site.css') }}">
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a href="../" class="navbar-brand">Copa <b>Ticket</b></a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav pull-right">
            <li>
              <a href="#">Cartola Ticket</a>
            </li>
            <li>
              <a href="#">Sobre</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container body-content">
        {% block body %}{% endblock %}
        <hr />
        <footer>
            <p>&copy; {{ year }} - Paulo Bortolotti</p>
        </footer>
    </div>

    <script src="{{ url_for('static', filename='scripts/jquery.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='scripts/bootstrap.js') }}" type="text/javascript"></script>
    {% block script %}{% endblock %}
</body>
</html>
